
<div class="container">
    <img src = "assets/images/logo.jpg"class="img-responsive"width = "120px"height="90px"/>
    <img src = "assets/images/cart.jpg"class="img-responsive float-right"width = "110px"height="90px"/>


</div>

<div class="container">
  <nav class="navbar bg-dark navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink ="home" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
          <a routerLink ="books/programming" class="nav-link">Programing</a>
        </li>

        <li class="nav-item">
            <a routerLink = "books/biographies"class="nav-link">Biography</a>
          </li>

          <li class="nav-item">
              <a routerLink = "books/business"class="nav-link">Business</a>
            </li>

            <li class="nav-item">
                <a routerLink = "signup"class="nav-link">Sign Up</a>
              </li>

              <li class="nav-item">
                  <a routerLink = "login"class="nav-link">Sign In</a>
                </li>
    </ul>

  </nav>

</div>
<br>
  <!--book-list></book-list-->
  <!-- <book-details></book-details> -->
  <!-- <customer-login></customer-login> -->
  <!-- <customer-registration></customer-registration> -->
  <!-- <app-home></app-home> -->
  <!-- <ng-component></ng-component> -->
  <router-outlet></router-outlet>
<br>

<div class="container">
<footer class="bg-dark">
  <div class="text-center">
    <span class="text-light">Website Created By:Pooja 
    </span>
    <br>
    <span class="text-light">    Copyright &nbsp;&copy;2019
        <a href = "#">www.e-commerce.com</a></span>
  
     

  </div>
</footer>
</div>